#introduction {
    margin: 6rem 0 0;
}

.greetings {
    color: indianred;
    margin: 0;
}

.myName {
    font-size: 4rem;
    color: #ccd6f6;
    margin: 0.625rem 0 0;

}

.mySkill {
    font-size: 4rem;
    color: #a8b2d1;
    margin: 0.625rem 0 0;
}

.myIntro {
    margin: 2rem 0 0;
    max-width: 60%;
}
