/* Font Families:
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Stalemate', cursive;
*/

/* All the items below, resides inside the "html" */

body {
    background-color: #0a192f;
    margin: 0 1.25rem 0 1.25rem;
}

/* All the items below, resides inside the "body" */

#content {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    word-wrap: break-word;
    color: #8892b0;
    margin: 0 auto;
    max-width: 64rem;
}

/* All the items below, resides inside the "#Content" */

#header {
    height: 6.25rem;
}

#main {
    height: 256rem;
}

#footer {
    height: 6.25rem;
}
